.App {
  color: #212121;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-area {
  margin: 8px;
  padding: 8px;
}

.link {
  margin: 4px;
  padding: 4px 12px;
}
