.home {
  padding: 4px;
  position: fixed;
  overflow-x: auto;
  overflow-y: auto;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  top: 4%;
}

.home .btn-area {
  display: flex;
  justify-content: space-between;
}

.home .btn {
  margin: 4px;
  padding: 4px 12px;
  color: #fff;
  border-radius: 5em;
  border-style: hidden;
  outline: none;
}

.home .btn:active {
  transform: scale(0.9);
}

.home .clear-btn {
  background-color: #9e9e9e;
  box-shadow: 0 0 4px #546e7a;
}

.home .clear-btn:hover {
  background-color: #757575;
}

.home .upload-btn {
  background-color: #26a69a;
  box-shadow: 0 0 4px #546e7a;
}

.home .upload-btn:hover {
  background-color: #00897b;
}

.home .save-btn {
  background-color: #5c6bc0;
  box-shadow: 0 0 4px #546e7a;
}

.home .save-btn:hover {
  background-color: #3949ab;
}
